<!doctype html>
<title>Homepage</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Homepage</h1>
    <table>
        <colgroup>
            <col width="22%">
            <col width="22%">
            <col width="56%">
        </colgroup>
        <tr>
            <td>URL</td>
            <td>Method</td>
            <td>Description</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user}}</td>
        </tr>

        {% endfor %}

    </table>
</div>