

{% extends "header.html" %}
{% block body %}
    {% include 'product/header.html' %}
        <form style="padding: 10px"  action="{{ url_for('add_job') }}" method="post">
            <div class="input-group" style="padding: 5px">
                <span class="input-group-addon" id="jobn">Job Number</span>
                <input type="text" class="form-control" placeholder="" name="jobn" aria-describedby="basic-addon1" value="{{request.form.jobn}}">
            </div>
            <table class="table table-bordered">
                {% for test in tests %}
                   <tr>
                       <td>
                           <label>
                               <input type="checkbox">{{test[0]}}
                            </label>
                       </td>
                       <td>
                           {{test[2]}}
                       </td>
                   </tr>
                {% endfor %}
            </table>

    <h4>Previous Jobs</h4>
    {% for job in list %}
        <li>{{job}} </li>
    {% endfor %}

{% endblock %}