{% extends "header.html" %}

{% block body %}
    <h1 class="page-header">Calendar</h1>


	<div class="container">
        <div>

                    <div class="form-inline">
                        <div class="btn-group">
                            <button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
                            <button class="btn btn-default" data-calendar-nav="today">Today</button>
                            <button class="btn btn-primary" data-calendar-nav="next">Next >></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning" data-calendar-view="year">Year</button>
                            <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                            <button class="btn btn-warning" data-calendar-view="week">Week</button>
                            <button class="btn btn-warning" data-calendar-view="day">Day</button>
                        </div>
                    </div>
            </div>


		<div class="row">
			<div class="col-md-9">
				<div id="calendar"></div>


            </div>
        </div>
	</div>

                <script type="text/javascript" src="{{url_for('static', filename='js/calendar/jquery.min.js')}}"></script>
                <!--
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script type="text/javascript" src="{{url_for('static', filename='js/calendar/underscore-min.js')}}"></script>
                <script type="text/javascript" src="{{url_for('static', filename='js/calendar/calendar.js')}}"></script>
                <script type="text/javascript">
                <
                -->
                <script type="text/javascript" src="{{url_for('static', filename='js/calendar/underscore-min.js')}}"></script>
                <script type="text/javascript" src="{{url_for('static', filename='js/calendar/calendar.js')}}"></script>
                <script type="text/javascript" src="{{url_for('static', filename='js/calendar/app.js')}}"></script>
                <script type="text/javascript">
                    var calendar = $("#calendar").calendar(
                        {
                            tmpl_path: "/static/tmpls/",
                            events_source: function () { return []; }
                        });
		        </script>

{% endblock %}