<!DOCTYPE html>
<!-- Flask Code -->
<!-- set up navbar with default pages
  caption, href, id
-->
{% set nav_bar  =
                    [["Dashboard", "/", "Dashboard"],
                    ["Calendar", "/calendar/", "Calendar"],
                    ["Product List", "/products/", "Products"],
                    ["Add Product", "/add_product/", "AddProduct"],
                    ["Add Testplan", "/testplan/add_testplan", "AddTestplan"]
                    ]
-%}
<!-- set up sub navbar with modals
  caption, modal
 -->
{% set sub_nav_bar = [[ "Add Product", "#addProductModal" ],
                      [ "Add Testplan", "#addTestplanModal" ],
                      ]
-%}



<!-- set the active page so we can change the nav accordingly -->
{% set active_page = active_page|default('Dashboard') -%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">


    <title>NPO HW Validation</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">

    <!-- Calendar Bootstrap Code -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NPO Hardware Validation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>

          </ul>
          -->
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" data-spy="scroll" data-target="spy-scroll-id">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="spy-scroll-id">
          <ul class="nav nav-sidebar">
            {% for caption, href, id in nav_bar %}
              <li {% if id == active_page %} class="active" {% endif%}>
                <a href="{{ href|e }}">{{ caption|e }}</a>
                <span class="sr-only"></span>
              </li>
            {% endfor %}
          </ul>

          <ul class="nav nav-sidebar">
            {% for caption, modal in sub_nav_bar %}
              <li data-toggle="modal" data-target="{{ modal }}"><a>{{ caption }}</a></li>
            {% endfor %}

          </ul>
        </div>
      </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block body %}
            {% endblock %}
        </div>
    </div>



    <!-- Add Product Modal -->
    {% from "add_product.html" import AddProduct with context %}
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addProductLabel">Add Product</h4>
          </div>
          <div class="modal-body">
                {{ AddProduct() }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Testplan Modal -->
    <div class="modal fade" id="addTestplanModal" tabindex="-1" role="dialog" aria-labelledby="addTestplanLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addTestplanLabel">Add Testplan</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
      $('#addProductModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)
        })
    </script>
    <!--
    #.get("{{url_for('add_product') }}", function(data){
          var json =JSON.parse(data);
          modal.find('#customer').val(json.customer)
          modal.find('#silicon').val(json.silicon)
          })
    -->
    </body>
  </html>

