{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
        <table>
            {% for entry in products %}
                <tr>
                    {% for item in entry %}
                    <td>
                        {{item}}
                    </td>
                    {% endfor %}
                    <td>
                        <a href='{{entry[1]}}'>{{entry[1]}}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}