{% extends "header.html" %}
{% block body %}

          <h1 class="page-header">Products</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Submission ID</th>
                  <th>Product Name</th>
                  <th>Customer</th>
                  <th>PBA</th>
                  <th>Ports</th>
                  <th>Silicon</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for p in products %}
                    <tr>
                      <td>{{ p[0] }}</td>
                      <td>{{ p[1] }}</td>
                      <td>{{ p[2] }}</td>
                      <td>{{ p[3] }}</td>
                      <td>{{ p[4] }}</td>
                      <td>{{ p[5] }}</td>
                      <td>{{ p[6] }}</td>
                      <td><a href="/product/{{p[1]}}%20{{p[4]}}%20{{p[2]}}/">{{ p[1] }} </a></td>
                    </tr>

                {% endfor %}
              </tbody>
              </table>
            </div>

{% endblock %}