{% macro CreateSubID() %}

    <form style="padding: 10px"  action="{{ url_for('add_product') }}" method="post">
        <div class="input-group" style="padding: 5px">
            <span class="input-group-addon" id="product-name">Product Name</span>
            <input type="text" class="form-control" placeholder="Name" name="productname" aria-describedby="basic-addon1" value="{{request.form.productname}}">
        </div>


        <div class="input-group" style="padding: 5px">
            <span class="input-group-addon" id=pba">PBA</span>
            <input type="text" class="form-control" placeholder="H12345-001" name="pba" aria-describedby="basic-addon2" value="{{request.form.pba}}">
        </div>

        <div class="form-group" style="padding: 5px">
            <label for="notes">Notes:</label>
            <textarea rows=5 class="form-control" placeholder="Additional Details..." id="notes" name="notes" value="{{request.form.note}}" ></textarea>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
{% endmacro %}