{% extends "header.html" %}
{% block body %}
    {% include 'product/header.html' %}

    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dashrollModal">Create Dash Roll</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subidModal">Create Submission ID</button>
    </div>

    <br>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
        <li role="presentation"><a href="#testplan" aria-controls="testplan" role="tab" data-toggle="tab">Active Testplan</a></li>
        <li role="presentation"><a href="#regulatory" aria-controls="regulatory" role="tab" data-toggle="tab">Regulatory</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
            {% include 'product/product_status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="testplan">
            {% include 'product/product_testplan.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="regulatory">
            {% include 'product/product_regulatory.html' %}
        </div>
      </div>
    </div>

    <!-- Create New Dashroll -->
    <div class="modal fade" id="dashrollModal" tabindex="-1" role="dialog" aria-labelledby="dashrollLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="dashrollClose"><span aria-hidden="true">&times;</span></button>
            <h4 class="dashroll-title" id="dashrollLabel">Create Dash Roll</h4>
          </div>
          <div class="modal-body">
              {$ createDashRoll() $}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Create Dash Roll</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Submission ID Modal -->
    {% from "product/create_SubID.html" import CreateSubID with context %}
    <div class="modal fade" id="subidModal" tabindex="-1" role="dialog" aria-labelledby="subidLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="subidClose"><span aria-hidden="true">&times;</span></button>
            <h4 class="subid-title" id="subidLabel">Create New Submission</h4>
          </div>
          <div class="modal-body">
            {{ CreateSubID() }}
          </div>
        </div>
      </div>
    </div>

{% endblock %}

