{% extends "header.html" %}
{% block body %}
    {% include 'product/header.html' %}
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
        <li role="presentation"><a href="#testplan" aria-controls="testplan" role="tab" data-toggle="tab">Active Testplan</a></li>
        <li role="presentation"><a href="#regulatory" aria-controls="regulatory" role="tab" data-toggle="tab">Regulatory</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
            {% include 'product/product_status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="testplan">
            {% include 'product/product_testplan.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="regulatory">
            {% include 'product/product_regulatory.html' %}
        </div>
      </div>
    </div>

{% endblock %}