    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <p>...</p>
            </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <td><b>bro</b></td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">System Dynamics</div>

      <!-- Table -->
      <table class="table">
        <tr>
            <td>Broo....</td>
            <td>Bro.</td>
            <td>bro</td>
        </tr>
      </table>
    </div>